DATABASE_NAME=intern
DATABASE_USER=root
DATABASE_PASSWORD=
DATABASE_HOST=127.0.0.1
DATABASE_PORT=3306

VUE_APP_ROOT_API=http://localhost:8080

SECRET_KEY=
VUE_APP_DJANGO_HOST=http://localhost:8000
PAGESIZE=5

EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_BACKEND=
EMAIL_HOST=
EMAIL_PORT=

